body {
    background-color : #F3E9DD;
    font-size : 50px;
}

hr {
    border-style : none;
    border-top : 8px dotted #AD8B73;
    width : 8%;
}

h1 {
    background-color : #DAB88B;
    font-size : 80px;
}

h2 {
    color : #AD8B73;
    font-size : 60px;
}
