body {
    background-color : #F3E9DD;
    font-size : 35px;
    line-height : 1.5;
}

hr {
    border-style : none;
    border-top : 8px dotted #AD8B73;
    width : 8%;
}

h1 {
    background-color : #DAB88B;
    font-size : 80px;
    line-height: normal;
}

h2 {
    color : #AD8B73;
    font-size : 60px;
    line-height: normal;
}

li {
    line-height : 2;
}

/***Class***/

.pfp {
    height : 300px;
}
